Repository ogadra/20260220-lambda-demo: changes, and which lefthook commands are due for each by the changed paths.
All: terraform-fmt, checkov-vpc-lambda, checkov-slidev, tflint-vpc-lambda, tflint-slidev

terraform-fmt:
  run: terraform fmt {staged_files}
  stage_fixed: true

checkov-vpc-lambda:
  run: checkov -d .

checkov-slidev:
  run: checkov -d .

tflint-vpc-lambda:
  run: tflint

tflint-slidev:
  run: tflint

Add terraform fmt to pre-commit hook
  lefthook.yml
Due: none

format: use terraform fmt
  vpc-lambda-eip-demo/lambda.tf
Due: terraform-fmt, checkov-vpc-lambda, tflint-vpc-lambda

config: add slidev
  .gitignore
  flake.nix
Due: none

pkgs: add nodejs
  flake.nix
Due: none

Add slidev presentation for "LambdaをECSと思い込む技術"
  slidev/content/components/Footer.vue
  slidev/content/components/LiveIcon.vue
  slidev/content/global-bottom.vue
  slidev/content/global-top.vue
  slidev/content/imgs/aws-architecture.svg
  slidev/content/imgs/aws-lambda-adapter.png
  slidev/content/imgs/ecs-public-ip.png
  slidev/content/imgs/qr.png
  slidev/content/package.json
  slidev/content/pnpm-lock.yaml
  slidev/content/setup/connectionState.ts
  slidev/content/setup/main.ts
  slidev/content/slides.md
  slidev/content/style.css
  slidev/content/uno.config.ts
Due: none

config: add Terraform provider and variables for slidev hosting
  slidev/terraform/.checkov.yaml
  slidev/terraform/.terraform.lock.hcl
  slidev/terraform/provider.tf
  slidev/terraform/variables.tf
Due: terraform-fmt, checkov-slidev, tflint-slidev

Add S3, CloudFront, WAF, and deploy resources for slidev hosting
  slidev/terraform/cloudfront.tf
  slidev/terraform/deploy.tf
  slidev/terraform/outputs.tf
  slidev/terraform/s3.tf
  slidev/terraform/waf.tf
Due: terraform-fmt, checkov-slidev, tflint-slidev

Add README for slidev presentation
  slidev/README.md
Due: none

Add custom domain support with ACM certificate for CloudFront
  slidev/terraform/acm.tf
  slidev/terraform/cloudfront.tf
  slidev/terraform/outputs.tf
  slidev/terraform/variables.tf
Due: terraform-fmt, checkov-slidev, tflint-slidev

docs: add custom domain setup instructions for slidev
  slidev/README.md
Due: none

feat: add IVS Real-Time stage infrastructure
  slidev/terraform/.gitignore
  slidev/terraform/.terraform.lock.hcl
  slidev/terraform/ivs.tf
  slidev/terraform/outputs.tf
  slidev/terraform/provider.tf
Due: terraform-fmt, checkov-slidev, tflint-slidev

feat: update deploy trigger to content hash and inject IVS token
  slidev/terraform/content-hash.sh
  slidev/terraform/deploy.tf
Due: terraform-fmt, checkov-slidev, tflint-slidev

feat: add IVS player component and integrate into slides
  slidev/content/components/IvsPlayer.vue
  slidev/content/slides.md
Due: none

docs: add CLAUDE.md for root, slidev, and vpc-lambda-eip-demo
  CLAUDE.md
  slidev/CLAUDE.md
  vpc-lambda-eip-demo/CLAUDE.md
Due: none

feat: add WebSocket Lambda handlers and DynamoDB for slide sync
  slidev/terraform/dynamodb.tf
  slidev/terraform/lambda.tf
  slidev/ws-lambda/connect.py
  slidev/ws-lambda/disconnect.py
  slidev/ws-lambda/message.py
Due: terraform-fmt, checkov-slidev, tflint-slidev

feat: add API Gateway WebSocket and CloudFront routing
  slidev/terraform/apigateway.tf
  slidev/terraform/cloudfront.tf
  slidev/terraform/provider.tf
Due: terraform-fmt, checkov-slidev, tflint-slidev

feat: update WebSocket client to use /ws endpoint with role detection
  slidev/content/setup/main.ts
Due: none

docs: update slidev CLAUDE.md with WebSocket infrastructure
  slidev/CLAUDE.md
Due: none

refactor: use for_each for WebSocket Lambda and API Gateway resources
  slidev/terraform/apigateway.tf
  slidev/terraform/lambda.tf
  slidev/terraform/locals.tf
Due: terraform-fmt, checkov-slidev, tflint-slidev

fix: use "ws" stage name to match CloudFront path pattern
  slidev/terraform/.terraform.lock.hcl
  slidev/terraform/apigateway.tf
  slidev/terraform/cloudfront.tf
Due: terraform-fmt, checkov-slidev, tflint-slidev

feat: add session DynamoDB table and Secrets Manager for presenter auth
  slidev/terraform/dynamodb.tf
  slidev/terraform/secretsmanager.tf
Due: terraform-fmt, checkov-slidev, tflint-slidev

refactor: move duplicated checkov skips to .checkov.yaml
  slidev/terraform/.checkov.yaml
  slidev/terraform/apigateway.tf
  slidev/terraform/dynamodb.tf
  slidev/terraform/lambda.tf
  slidev/terraform/secretsmanager.tf
Due: terraform-fmt, checkov-slidev, tflint-slidev

feat: add login Lambda with bcrypt authentication
  slidev/auth-lambda/build-layer.sh
  slidev/auth-lambda/login.py
  slidev/terraform/lambda.tf
Due: terraform-fmt, checkov-slidev, tflint-slidev

feat: add HTTP API Gateway for login endpoint
  slidev/terraform/apigateway.tf
Due: terraform-fmt, checkov-slidev, tflint-slidev

feat: route /login through CloudFront to HTTP API Gateway
  slidev/terraform/cloudfront.tf
Due: terraform-fmt, checkov-slidev, tflint-slidev

feat: switch WebSocket role detection to cookie-based session verification
  slidev/content/setup/main.ts
  slidev/terraform/lambda.tf
  slidev/ws-lambda/connect.py
Due: terraform-fmt, checkov-slidev, tflint-slidev

fix: remove throttle settings from WebSocket API Gateway stage
  slidev/terraform/apigateway.tf
Due: terraform-fmt, checkov-slidev, tflint-slidev

docs: add presenter authentication setup guide
  slidev/README.md
Due: none

refactor: rename TABLE_NAME to CONNECTIONS_TABLE_NAME for clarity
  slidev/terraform/lambda.tf
  slidev/ws-lambda/connect.py
  slidev/ws-lambda/disconnect.py
  slidev/ws-lambda/message.py
Due: terraform-fmt, checkov-slidev, tflint-slidev

refactor: rename http API Gateway to login and extract origin IDs to locals
  slidev/terraform/apigateway.tf
  slidev/terraform/cloudfront.tf
  slidev/terraform/lambda.tf
  slidev/terraform/locals.tf
Due: terraform-fmt, checkov-slidev, tflint-slidev

fix: restrict WebSocket CloudFront behavior to GET/HEAD only
  slidev/terraform/cloudfront.tf
Due: terraform-fmt, checkov-slidev, tflint-slidev

refactor: extract IAM resources from lambda.tf to iam.tf
  slidev/terraform/iam.tf
  slidev/terraform/lambda.tf
Due: terraform-fmt, checkov-slidev, tflint-slidev

feat: add poll_votes DynamoDB table and update IAM/Lambda config
  slidev/terraform/dynamodb.tf
  slidev/terraform/iam.tf
  slidev/terraform/lambda.tf
Due: terraform-fmt, checkov-slidev, tflint-slidev

feat: add poll vote handler to WebSocket message Lambda
  slidev/ws-lambda/message.py
Due: none

feat: add Poll component and embed in slides
  slidev/content/components/Poll.vue
  slidev/content/setup/main.ts
  slidev/content/slides.md
Due: none

refactor: rename poll_votes keys from pk/sk to pollId/connectionId
  slidev/terraform/dynamodb.tf
  slidev/ws-lambda/message.py
Due: terraform-fmt, checkov-slidev, tflint-slidev

fix: accept unknown poll choices instead of rejecting them
  slidev/ws-lambda/message.py
Due: none

refactor: change poll options from string array to id/label objects
  slidev/content/components/Poll.vue
  slidev/content/slides.md
Due: none

refactor: remove unreachable poll META existence check
  slidev/ws-lambda/message.py
Due: none

refactor: send poll votes one choice at a time on selection
  slidev/content/components/Poll.vue
  slidev/ws-lambda/message.py
Due: none

Path conditions:
  terraform-fmt: any of: *.tf
  checkov-vpc-lambda: any of: *.tf and ^vpc\-lambda\-eip\-demo/
  checkov-slidev: any of: *.tf and ^slidev/terraform/
  tflint-vpc-lambda: any of: *.tf and ^vpc\-lambda\-eip\-demo/
  tflint-slidev: any of: *.tf and ^slidev/terraform/
